<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
  <i class="fa fa-close close-menu" id="closeMenu"></i>
  <h3>Menu</h3>
  <a href="/">Home</a>
  <a href="/#aboutUs">Who We Are</a>
  <a href="/#sellingPoints">Our Unique Selling Points</a>
  <a href="/#whereWeAre">Where We Are</a>
  <a href="/#latestNews">What's New</a>
  <a href="/news-archives" class="subnav">
    <i class="fa fa-paw"></i>Archives
  </a>
  <a href="/#learningZone">Learning Zone</a>
  <a href="/learning-zone-archives" class="subnav">
    <i class="fa fa-paw"></i>Archives
  </a>
  <a href="/#contactUs">Contact Us</a>
  <a href='#' data-toggle="modal" data-target="#video">
    <small class='font-italic'>WOOF!  <i class="fa fa-paw"></i></small>
  </a>
</nav>
<a id="showRight">
  <svg class="shape shape-pawprint-nav">
    <use xlink:href="#shape-pawprint-nav"></use>
  </svg>
</a>
