<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
  <i class="fa fa-close close-menu" id="closeMenu"></i>
  <h3>Menu</h3>
  <a href="#aboutUs">Who We Are</a>
  <a href="#sellingPoints">Our Unique Selling Points</a>
  <a href="#whereWeAre">Where We Are</a>
  <a href="#latestNews">Latest News</a>
  <a href="/news-archives" class="subnav">Archives</a>
  <a href="#learningZone">Learning Zone</a>
  <a href="/learning-zone-archives" class="subnav">Archives</a>
  <a href="#contactUs">Contact Us</a>
</nav>
<a id="showRight">
  <svg class="shape shape-pawprint-nav">
    <use xlink:href="#shape-pawprint-nav"></use>
  </svg>
</a>
