<div class="row text-heavy background-dark content contact" id="contactUs">
  <h1 class="title text-secondary text-center wow fadeIn">Get in touch with us</h1>
  <div class="row">
    <div class='offset-lg-3 col-lg-6'>
      <!-- Hidden message to show if contact is successful. -->
      <div class="alert alert-success alert-dismissible text-center collapse" id="submitSuccess" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        Thanks for your message. We'll be in touch.
      </div>
      <!-- Hidden message to show if user encounters errors. -->
      <div class="alert alert-danger alert-dismissible text-center collapse" id="submitErrors" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        It looks like there was an error submitting the form. Please try again later or send us an email <a href="mailto:topdog@blackdog-consultants.com">topdog@blackdog-consultants.com</a>
      </div>
    </div>

    <div class='offset-lg-3 col-lg-6 wow fadeIn'>
       <form name="insightly_web_to_lead" action="https://crm.na1.insightly.com/WebToLead/Create" method="post" id="#contactForm">
        <input type="hidden" name="formId" value="cNL8Q9zg/OSRxeue5S5SPw==" />
        <div class="flex-row d-flex">
          <fieldset class="form-group col-md-2">
            <label for="insightly_title">Title </label>
            <input id="insightly_Title" type="text" name="Title" class="form-control" required>
          </fieldset>
          <fieldset class="form-group col-md-4">
            <label for="insightly_firstName">First Name</label>
            <input id="insightly_firstName" type="text" name="FirstName" class="form-control" required>
          </fieldset>
          <fieldset class="form-group col-md-4">
            <label for="insightly_lastName">Last Name</label>
            <input id="insightly_lastName" type="text" name="LastName" class="form-control" required>
          </fieldset>
          <fieldset class="form-group col-md-2">
            <label for="insightly_salutation">Salutation</label>
            <input id="insightly_salutation" type="text" name="Salutation" class="form-control">
          </fieldset>
        </div>
        <div class="flex-row d-flex">
          <fieldset class="form-group col-md-6">
            <label for="insightly_organization">Organization</label>
            <input type="text" id="insightly_organization" name="OrganizationName" class="form-control" required>
          </fieldset>
          <fieldset class="form-group col-md-6">
            <label for="email">Email</label>
            <input type="email" id="insightly_Email" name="email" class="form-control" required>
            <small class="text-muted">We'll never share your email with anyone else.</small>
          </fieldset>
        </div>
        <div class="flex-row d-flex">
          <fieldset class="form-group col-md-6">
            <label for="subject">Subject</label>
            <select name="subject" id="subject" class="form-control">
              <option value="Coaching">Coaching</option>
              <option value="Facilitation">Facilitation</option>
              <option value="Training">Training</option>
              <option value="Others">Others</option>
            </select>
          </fieldset>
          <fieldset class="form-group col-md-6">
            <label for="country">Country <small><em>(Optional)</em></small></label>
            <input type="text" name="country" class="form-control">
          </fieldset>
        </div>
        <div class="flex-row d-flex">
          <fieldset class="form-group col-md-12">
            <label for="message">Message</label>
            <textarea name="message" id="message" rows="6" class="form-control" required placeholder="Place your message here"></textarea>
          </fieldset>
        </div>
        <div class="flex-row d-flex">
          <input type="text" name="_gotcha" style="display:none" />
          <div class="col-md-4 offset-md-4">
            <input type="hidden" id="insightly_ResponsibleUser" name="ResponsibleUser" value="1177148"/>
           <input type="hidden" id="insightly_LeadSource" name="LeadSource" value="1110040"/>
            <input type="submit" value="Submit" class="btn btn-secondary btn-block">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
