<ul class="social-links">
  <li >
    <a href="https://www.facebook.com/Black-Dog-Consultants-230934396917172/">
      <i class='fa fa-facebook-official fa-2x'></i>
    </a>
  </li>
  <li>
    <a href="https://twitter.com/blackdogcons">
      <i class='fa fa-twitter-square fa-2x'></i>
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/company/3315571">
      <i class='fa fa-linkedin-square fa-2x'></i>
    </a>
  </li>
</ul>