<div class="modal fade" id="video" tabindex="-1" role="dialog" aria-labelledby="video" aria-hidden="true">
  <div class="modal-dialog vimeo-video" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Congratulations! You found our secret video!</h4>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe src="https://player.vimeo.com/video/171088103?color=fae5b8&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <p>
          <a class='link' href="https://vimeo.com/171088103">
            How Black Dog Consultants got its name
          </a> from
          <a class='link' href="https://vimeo.com/user50326221">BlackDogCons</a> on
          <a class='link' href="https://vimeo.com">Vimeo</a>.
        </p>
        <p>Black Dog Consultants share the popular story of how the company got its name. Grab a cuppa and watch our two minute video.</p>
      </div>
<!--       <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>