<div class="row background-primary">
  <div class="divider welcome">
    <div class="col-md-5 col-md-offset-1 left-column">
      <div class="col-sm-6 col-md-8 logo-container">
        <%= image_tag 'logo.png', :class => "logo" %>
      </div>
      <div class="col-sm-11 subheading">
        <h4 class="text-light">A unique network of training, facilitation and coaching consultants at your fingertips, specialising in the Asia Pacific Market</h4>
      </div>
    </div>
    <div class="col-md-6 hidden-sm-down image-container">
      <%= image_tag 'main.jpg' %>
    </div>
  </div>
</div>