<div class="row text-heavy background-white" id="aboutUs">
  <div class="col-xs-12 col-sm-offset-1 col-sm-8 col-md-3 col-lg-2 logo-container">
    <%= image_tag 'logo.png', :class => "logo" %>
  </div>
  <div class="col-md-offset-1 col-md-11">
    <div class="col-md-10 col-lg-8 content text-primary about-us">
      <h1 class="title">We are passionate about inspiring people to be life-long learners.</h1>
      <div class="description">
        <p>In this dynamic, fast-paced world we live in, we strive to help businesses large and small, support their people to be motivated, change agents, who are open to feedback and personal development.</p>
        <p>We believe to be all those things, people need to feel happy at work, be committed to building strong, trust-based relationships and be confident to communicate confidently and freely.</p>
        <p>Our own culture at Black Dog is based on this simple philosophy and is at the heart of everything we do. We always start with the ‘why’ people do what they do, rather than the ‘what’ they are doing – only then can we help you and them change the ‘how’ they consider doing it in the future.</p>
      </div>
    </div>
  </div>
</div>
<%= partial "partials/who-we-are/training" %>
<%= partial "partials/who-we-are/facilitation" %>
<%= partial "partials/who-we-are/coaching" %>