<div class="row text-heavy background-primary" id="coaching">
  <div class="col-md-offset-1 col-md-10 col-lg-9 content text-light">
    <h1 class="title">We coach your executives.</h1>
    <div class="description">
      <p>Put ‘coaching’ into Google and you hit around 252 million pages. Narrow that to ‘Executive Coaching’ and it drops to a much more acceptable 12 million possible choices. 12 million? Really? Is everyone is working as a coach these days? How on earth do you find the right match for you?</p>
      <p>Here at Black Dog Consultants, we take pride in providing a selection of ideal coaches for you, depending on what you want to work on. Just as trainers and facilitators have certain areas of expertise – so do coaches. Add in people’s natural biases (conscious or unconscious) for working with a male or female coach, coupled with the language you’d prefer to be coached in and it’s easy to see why you shouldn’t just pick the first one you find off Google, or indeed the one your colleague may have been raving about.</p>
      <p>When you engage us to find you your perfect match, you can rest assured that whatever your goals are, we’ll help you find someone exactly right for you. Because the one thing we’ve learned in our seven years of offering this complex, is just like all the best relationships, coaching is all about chemistry – so you’ll need to meet with a few to make sure the ‘fit’ feels 100% right.</p>
      <p>We can help source coaches both for individual executives or we can provide panels of coaches in several different countries for more complex coaching programmes. Whatever it is you need for your organisation, if you’re ready to find out more, please reach out to us on: <a class="btn btn-light-outline link" href="mailto:coaching@blackdog-consultants.com">coaching@blackdog-consultants.com</a></p>
    </div>
  </div>
</div>