<div class="row" id="facilitation">
  <div class="text-heavy">
    <div class="col-md-offset-1 col-md-10 col-lg-8 content text-light">
      <h1 class="title">We facilitate your sessions</h1>
      <div class="description">
        <p>Facilitation? That’s just a posh way of saying training right? Well no, not quite.</p>
        <p>It is our belief that in a facilitated session, the participants are led through a process which might include generating and analysing ideas, solving a problem together through consensus or sharing thoughts or experiences in a safe environment.</p>
        <p>Often these sessions are with more senior leadership groups or intact team offsite, CSR or teambuilding days – more often than not, the ‘answers’ lie within the room and the facilitator alternates between the role of coach, question-master, diplomat and thought provocateur. These skills must be mastered to the point where the facilitator is confident but not cocky and authoritative without taking over the process – it is usually a tricky balance of creating disruption whilst being engaging.</p>
        <p>At Black Dog Consultants, we firmly differentiate between these skill-sets which we maintain set apart fabulous trainers versus a true, highly skilled facilitator.</p>
        <p>So the next time the brief calls for these precious facilitation skills, then it’s time to put our beliefs to the test – get in touch by emailing <a class="btn btn-light-outline link" href="mailto:facilitation@blackdog-consultants.com">facilitation@blackdog-consultants.com</a></p>
      </div>
    </div>
  </div>
</div>