<div class="row" id="training">
  <div class="text-heavy wow fadeInUp">
    <div class="col-md-offset-1 col-md-10 col-lg-8 content text-light">
      <h1 class="title">We train your people</h1>
      <div class="description">
        <p>Whatever the brief, Black Dog Consultants is ideally placed to deliver on your exact organisational training needs. We passionately believe in getting the right expert for the right workshop so with our wide and diverse network of training specialists, we ensure that if you need a leadership programme – you will get an expert leadership trainer with relevant experience and who can connect to the delegates in their world – not someone we’re shoe-horning into the role just for the day.</p>
        <p>Need diversity, culture change, presentation skills, sales or innovation workshops? We have experts for that.</p>
        <p>Want to negotiate like Kissinger, have the personal presence of Branson or sharpen up your EQ? No problem!</p>
        <p>In fact, between us as an organisation, we can deliver just about any soft skills development brief that you care to throw at us – be it us tweaking your company’s own material or writing something bespoke just for you.</p>
        <p>We can help you raise the training bar within your organisation. And if you like the sound of that, then get in touch by emailing <a class="btn btn-light-outline link" href="mailto:training@blackdog-consultants.com">training@blackdog-consultants.com</a></p>
      </div>
    </div>
  </div>
</div>