#aboutUs
  background: white
  @include media-breakpoint-up(md)
    background: image-url('lifelong_learners.jpg') white no-repeat center
    background-size: 100% 100%

#training
  background: $secondary
  @include media-breakpoint-up(md)
    background: image-url('training.jpg') white no-repeat center
    background-size: 100% 100%

#facilitation
  background: $gray
  @include media-breakpoint-up(md)
    background: image-url('facilitation.jpg') white no-repeat center
    background-size: 100% 100%

#coaching
  background: $primary
  @include media-breakpoint-up(md)
    background: image-url('coaching.jpg') white no-repeat center
    background-size: 100% 100%