.news-archives, .learning-zone-archives
  ul
    li
      list-style: none

  .fa-paw
    top: 0
    background: inherit
    padding: 12px

    .link
      padding: 0.18rem 0.5rem

  .content
    margin-top: 40px

  .image-container
    position: fixed

    &.right-column
      width: auto !important

    img
      height: 100vh

  .title
    color: white

  small
    padding-left: 5px

  li
    margin-top: 15px
    margin-bottom: 15px

  .left-column
  //   height: 100vh

    @include media-breakpoint-down(sm)
      padding-right: 10px

.news-archives
  .shape-pawprint-nav
    fill: $dark

    &:hover
      fill: $light

.learning-zone-archives
  .shape-pawprint-nav
    fill: $light

    &:hover
      fill: $dark