body.article
  height: 100vh

  &.news
    .heading
      @include media-breakpoint-down(sm)
        background-color: $primary
      @include media-breakpoint-up(sm)
        background-color: inherit

    .cover-image
      display: inline-block
      img
        width: 100%
        margin-top: 10px

    .logo-container
      padding-top: 30px
      cursor: pointer

    .content
      .title
        margin-top: 0px

      .back
        margin-top: 40px

      .link
        color: $primary

        &:hover
          color: white
          background-color: $primary
          padding: 0.18rem 0.5rem
