.contact
  .title
    text-align: center

  &.content
    margin-bottom: 0px

  label
    color: $secondary

  .text-muted
    color: lighten($secondary, 15%)

  select
    height: 38px

  form
    @include media-breakpoint-down(sm)
      padding-bottom: 20px