.where-we-are
  padding-top: 10px
  padding-bottom: 10px
  position: relative
  top: 0
  left: 0

.where-we-are.icons
  padding-bottom: 60px

// .map-container
//   text-align: center
//   z-index: -10
//   margin: auto

// .map
//   position: relative
//   top: 0
//   left: 0
//   z-index: 0
//   @include media-breakpoint-up(md)
//     width: 768px
//   @include media-breakpoint-up(lg)
//     width: 992px
//   @include media-breakpoint-up(xl)
//     width: 1200px

.cities-container
  background: image-url('map-sample.jpg') white no-repeat center
  background-size: 100%
  margin: auto
  @include media-breakpoint-up(md)
    width: 768px
    height: 543px
  @include media-breakpoint-up(lg)
    width: 992px
    height: 701px
  @include media-breakpoint-up(xl)
    height: 848px
    width: 1200px
  +mq(1440px)
    height: 1020px
    width: 1440px

  .icons-container
    float: right

  .city-img
    width: 100%
    height: auto

  .manila-icon
    position: relative
    top: 40px
    right: 30px

.cities
  position: absolute
  top: 0

  li
    cursor: pointer
    z-index: 2
    height: 22px
    width: 22px

  .shape-pawprint
    fill: white
    padding: 2px
    background-color: $dark
    border-radius: 10px
    @include media-breakpoint-down(sm)
      display: none
    @include media-breakpoint-up(md)
      width: 15px
      height: 15px
    @include media-breakpoint-up(lg)
      width: 19px
      height: 19px
    @include media-breakpoint-up(xl)
      height: 22px
      width: 22px

    &:hover
      // box-shadow: 0px 0px 15px 1px rgba(229,84,68,0.6)
      transform: scale(1.15)
      transition: all 0.5s

  .manila
    position: relative
    @include media-breakpoint-up(md)
      top: 275px
      left: 490px
    @include media-breakpoint-up(lg)
      top: 345px
      left: 640px
    @include media-breakpoint-up(xl)
      top: 420px
      left: 775px

.city-icons
  list-style: none
  padding-left: 0px

  li
    display: inline-block
    margin-top: 15px

    img
      width: 100%
      height: auto
      border-radius: 5px
