<div class="row content text-secondary">
  <div class="col-sm-2">
    <span class="number" data-toggle="collapse" href="#asiaPacificWideTeam" aria-expanded="false" aria-controls="asiaPacificWideTeam">1</span>
  </div>
  <div class="col-sm-8">
  <h1 class="title" data-toggle="collapse" href="#asiaPacificWideTeam" aria-expanded="false" aria-controls="asiaPacificWideTeam">Established Asia-Pacific Wide Team
    <svg class="shape shape-pawprint-click">
      <use xlink:href="#shape-pawprint-click"></use>
    </svg>
  </h1>
    <div class="collapse description" id="asiaPacificWideTeam">
      <p>Most of our clients these days have their training and development need spread across the region – so helpfully, we have grown Black Dog specifically so we have trusted, expert associates already available to work with you in most Asia Pacific locations.</p>
      <p>This allows us to deliver content for you either in English or in the country’s local language, with workshops always being conducted with cultural sensitivity through our team of native dwellers or long-time, resident expats.</p>
      <p>If you’d like to see where our consultants are currently based – please take a tour of the region with us, by clicking <a class="btn btn-light-outline link" href="#">here</a>.</p>
    </div>
  </div>
</div>