<div class="row content text-primary">
  <div class="col-sm-2">
    <span class="number" data-toggle="collapse" href="#magicFairyDustFun" aria-expanded="false" aria-controls="magicFairyDustFun">3</span>
  </div>
  <div class="col-sm-8">
    <h1 class="title" data-toggle="collapse" href="#magicFairyDustFun" aria-expanded="false" aria-controls="magicFairyDustFun">Magic, Fairy Dust and Fun!
      <svg class="shape shape-pawprint-click">
        <use xlink:href="#shape-pawprint-click"></use>
      </svg>
    </h1>
    <div class="collapse description" id="magicFairyDustFun">
      <p>No, we’ve not gone mad. This really is what you can expect from Black Dog Consultants. Let us explain.</p>
      <p>‘Magic and Fairy Dust’ is standard in all the ways we will work with you – be it going the extra mile to find a creative way of solving a design problem, sourcing an expert for something you didn’t think existed or delighting and surprising your people when they attend one of our workshops. We regularly receive feedback that, ‘this was the best training I have ever attended!’ – we’re not bragging by telling you this – this is the tough standard we always set for ourselves and we will challenge each other hard if we feel we aren’t delivering this.</p>
      <p>And so what of fun? Well this is actually quite simple to explain. When things are fun, we open ourselves gladly to exploring new ways of doing things and step out of our comfort zones more easily. Fun is not just for children – fun is for every life long learner. So on a Black Dog workshop, you’ll notice they are packed with interactive sessions, experiential activities and opportunities to laugh together and broaden our minds. And at the end of all the fun, critically there will be ‘keeping it real’ moments, when we connect the learning back to the workplace and real life, so that everyone can see how they make the changes real for them, with their own teams and business.</p>
      <p>Oh and finally, one thing we promise you will never find with us is death by powerpoint... because where’s the magic and fun in that?</p>
    </div>
  </div>
</div>