<div class="row content text-light">
  <div class="col-sm-2">
    <span class="number" data-toggle="collapse" href="#regionsFinestExperts" aria-expanded="false" aria-controls="regionsFinestExperts">2</span>
  </div>
  <div class="col-sm-8">
    <h1 class="title wow fadeIn" data-toggle="collapse" href="#regionsFinestExperts" aria-expanded="false" aria-controls="regionsFinestExperts">The Region’s Finest Experts <small><i class="fa fa-paw animated pulse infinite"></i></small>
    </h1>
    <div class="collapse description" id="regionsFinestExperts">
      <p>At Black Dog Consultants, we are extremely proud, that the majority of our business comes through existing clients using us more and more or by their referrals. So it goes without saying, that we are extremely careful with who represents our brand to maintain this reputation for excellence.</p>
      <p>As such, we only ever collaborate with expert trainers, facilitators or coaches who have a strong, proven track record in their chosen specialist area. Simply put – savvy experts who are at the top of their game.</p>
      <p>In fact, we are so committed to our brand promise of ‘simply superb business training’ (something a client kindly said about us one day), that once we take your brief, if we don’t believe we can deliver on that promise, then we’d rather turn you down, than let you down. And you can’t say fairer that that.</p>
    </div>
  </div>
</div>