---
title: learningZone.title
layout: article
---

<% content_for(:og_title, learningZone.title) %>
<% content_for(:og_url, "https://blackdog-consultants.com/learningzone/" + learningZone.slug) %>
<% content_for(:og_description, learningZone.metadescription) %>
<% content_for(:og_image, "https:" + learningZone.coverImage.url) %>
<%= partial '/partials/logo_heading' %>
<div class="row background-white">
  <div class='text-heavy'>
    <div class="col-md-4 cover-image">
      <%= image_tag(learningZone.coverImage.url) %>
    </div>
    <div class="col-md-8 content text-primary">
      <h1 class="title"><%= learningZone.title %></h1>
      <div class="description">
        <%= Tilt['markdown'].new { learningZone.body }.render %>
        <div class="back">
          <a class="btn btn-dark-outline link" href="/learning-zone-archives">
            <i class="fa fa-chevron-left"></i>
            View our other Learning Zone articles
          </a>
        </div>
      </div>
    </div>
  </div>
</div>