---
title: news.title
layout: article
---
<%= partial '/partials/logo_heading' %>
<div class="row background-light">
  <div class='text-heavy'>
    <div class="col-sm-8 content text-primary">
      <h1 class="title"><%= news.title %></h1>
      <div class="description">
        <%= Minidown.render(news.body) %>
        <div class="back">
          <a class="btn btn-dark-outline link" href="/news-archives">
            <i class="fa fa-chevron-left"></i>
            View our full archives
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 cover-image">
      <%= image_tag(news.coverImage.url) %>
    </div>
  </div>
</div>