.carousel-control-prev.left, .carousel-control-next.right {
  background-image: none !important;
  opacity: 1;
  text-shadow: none;
  color: $primary;
  width: 10%;
  background: transparent !important;
  border: 0px !important;
  cursor: pointer;
}

.left .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#d0442c' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.right .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#d0442c' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-item {
  @include media-breakpoint-down(sm) {
    padding: 0 60px;
  }
}

.carousel-inner {
  height: 400px;
}
