.divider
  margin: auto

.left-column
  float: left

  // @include media-breakpoint-up(sm)
  //   padding-left: 60px

.logo-container
  padding-top: 60px

  @include media-breakpoint-down(sm)
    margin-bottom: 60px

  img
    width: 100%

.subheading
  vertical-align: bottom
  margin-bottom: 40px

  // @include media-breakpoint-down(md)
  //   margin-top: 60px

  @include media-breakpoint-up(md)
    position: relative
    bottom: -160px

  @include media-breakpoint-up(lg)
    position: relative
    bottom: -200px

  @include media-breakpoint-up(xl)
    position: relative
    bottom: -270px

  +mq(1600px)
    position: relative
    bottom: -400px

  +mq(2560px)
    position: relative
    bottom: -560px

  h4
    line-height: 1.25

    @include media-breakpoint-up(md)
      font-size: 1.2rem

    @include media-breakpoint-up(lg)
      font-size: 1.5rem

    @include media-breakpoint-up(xl)
      font-size: 2rem

    +mq(1490px)
      font-size: 2.5rem

    +mq(1772px)
      font-size: 3rem

    +mq(2056px)
      font-size: 3.5rem

    +mq(2560px)
      font-size: 4rem

  h1
    @include media-breakpoint-up(lg)
      font-size: 2.9rem

    @include media-breakpoint-up(xl)
      font-size: 3.7rem

    +mq(1600px)
      font-size: 4.7rem

    +mq(2200px)
      font-size: 5.7rem

    +mq(2560px)
      font-size: 6.7rem

.image-container
  padding-left: 0px
  padding-right: 0px
  position: relative
  right: 0
  float: right

  img
    width: 100%
    // max-width: 530px
    float: right
    // max-height: 100vh