.divider
  margin: auto

.left-column
  float: left

  // @include media-breakpoint-up(sm)
  //   padding-left: 60px

.logo-container
  padding-top: 60px

  img
    width: 100%

.subheading
  vertical-align: bottom
  margin-bottom: 40px

  @include media-breakpoint-down(md)
    margin-top: 60px

  @include media-breakpoint-up(md)
    margin-top: 170px

  h4
    line-height: 1.25

  h1
    font-size: 3.8em

.image-container
  padding-left: 0px
  padding-right: 0px
  position: relative
  right: 0
  float: right

  img
    width: 100%
    max-width: 530px
    float: right
    max-height: 100vh