// Global styles

// Fonts

@import url(https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro:400,300,600)

body, p
  font-family: $font-family-sans-serif

h1, h2, h3, h4, h5, h6
  font-family: $font-family-headings

.text-primary
  color: $primary !important

.text-secondary
  color: $secondary

.text-dark
  color: $dark

.text-light
  color: $light

.text-gray
  color: $gray

.background-primary
  background-color: $primary

.background-secondary
  background-color: $secondary

.btn-primary
  background-color: $primary
  border-color: $primary

.btn-primary:hover
  background-color: darken($primary, 10%)
  border-color: darken($primary, 10%)
  color: white

.btn-primary-outline
  color: $primary
  border-color: $primary

.btn-primary-outline:hover
  background-color: $primary
  border-color: $primary
  color: white